@media (min-width: 601px) {
	@keyframes ldio-tr2reohdkw-1 {
		0% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(-45deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
	@keyframes ldio-tr2reohdkw-2 {
		0% {
			transform: rotate(180deg);
		}
		50% {
			transform: rotate(225deg);
		}
		100% {
			transform: rotate(180deg);
		}
	}
	.ldio-tr2reohdkw > div:nth-child(2) {
		transform: translate(-15px, 0);
	}
	.ldio-tr2reohdkw > div:nth-child(2) div {
		position: absolute;
		top: 120px;
		left: 120px;
		width: 360px;
		height: 180px;
		border-radius: 360px 360px 0 0;
		background: #74007a;
		animation: ldio-tr2reohdkw-1 1s linear infinite;
		transform-origin: 180px 180px;
	}
	.ldio-tr2reohdkw > div:nth-child(2) div:nth-child(2) {
		animation: ldio-tr2reohdkw-2 1s linear infinite;
	}
	.ldio-tr2reohdkw > div:nth-child(2) div:nth-child(3) {
		transform: rotate(-90deg);
		animation: none;
	}
	@keyframes ldio-tr2reohdkw-3 {
		0% {
			transform: translate(570px, 0);
			opacity: 0;
		}
		20% {
			opacity: 1;
		}
		100% {
			transform: translate(210px, 0);
			opacity: 1;
		}
	}
	.ldio-tr2reohdkw > div:nth-child(1) {
		display: block;
	}
	.ldio-tr2reohdkw > div:nth-child(1) div {
		position: absolute;
		top: 276px;
		left: -24px;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: #a53faa;
		animation: ldio-tr2reohdkw-3 1s linear infinite;
	}
	.ldio-tr2reohdkw > div:nth-child(1) div:nth-child(1) {
		animation-delay: -0.67s;
	}
	.ldio-tr2reohdkw > div:nth-child(1) div:nth-child(2) {
		animation-delay: -0.33s;
	}
	.ldio-tr2reohdkw > div:nth-child(1) div:nth-child(3) {
		animation-delay: 0s;
	}
	.loadingio-spinner-bean-eater-s8ghs07i8rh {
		width: 600px;
		height: 600px;
		display: inline-block;
		overflow: hidden;
		background: none;
	}
	.ldio-tr2reohdkw {
		width: 100%;
		height: 100%;
		position: relative;
		transform: translateZ(0) scale(1);
		backface-visibility: hidden;
		transform-origin: 0 0; /* see note above */
	}
	.ldio-tr2reohdkw div {
		box-sizing: content-box;
	}
}

@media (max-width: 600px) {
	@keyframes ldio-fyshmchp0qb-1 {
		0% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(-45deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
	@keyframes ldio-fyshmchp0qb-2 {
		0% {
			transform: rotate(180deg);
		}
		50% {
			transform: rotate(225deg);
		}
		100% {
			transform: rotate(180deg);
		}
	}
	.ldio-fyshmchp0qb > div:nth-child(2) {
		transform: translate(-15px, 0);
	}
	.ldio-fyshmchp0qb > div:nth-child(2) div {
		position: absolute;
		top: 60px;
		left: 60px;
		width: 180px;
		height: 90px;
		border-radius: 180px 180px 0 0;
		background: #74007a;
		animation: ldio-fyshmchp0qb-1 1s linear infinite;
		transform-origin: 90px 90px;
	}
	.ldio-fyshmchp0qb > div:nth-child(2) div:nth-child(2) {
		animation: ldio-fyshmchp0qb-2 1s linear infinite;
	}
	.ldio-fyshmchp0qb > div:nth-child(2) div:nth-child(3) {
		transform: rotate(-90deg);
		animation: none;
	}
	@keyframes ldio-fyshmchp0qb-3 {
		0% {
			transform: translate(285px, 0);
			opacity: 0;
		}
		20% {
			opacity: 1;
		}
		100% {
			transform: translate(105px, 0);
			opacity: 1;
		}
	}
	.ldio-fyshmchp0qb > div:nth-child(1) {
		display: block;
	}
	.ldio-fyshmchp0qb > div:nth-child(1) div {
		position: absolute;
		top: 138px;
		left: -12px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: #a53faa;
		animation: ldio-fyshmchp0qb-3 1s linear infinite;
	}
	.ldio-fyshmchp0qb > div:nth-child(1) div:nth-child(1) {
		animation-delay: -0.67s;
	}
	.ldio-fyshmchp0qb > div:nth-child(1) div:nth-child(2) {
		animation-delay: -0.33s;
	}
	.ldio-fyshmchp0qb > div:nth-child(1) div:nth-child(3) {
		animation-delay: 0s;
	}
	.loadingio-spinner-bean-eater-itf09hbrpj {
		width: 300px;
		height: 300px;
		display: inline-block;
		overflow: hidden;
		background: none;
	}
	.ldio-fyshmchp0qb {
		width: 100%;
		height: 100%;
		position: relative;
		transform: translateZ(0) scale(1);
		backface-visibility: hidden;
		transform-origin: 0 0; /* see note above */
	}
	.ldio-fyshmchp0qb div {
		box-sizing: content-box;
	}
}
