.nav_container {
	@include display-flex(space-around, center, column);
	border: 1px solid darken($background-color, $amount: 20%);
	box-shadow: 5px 5px 20px 5px black;
	background-color: $background-color;
	margin-left: 30px;
	width: 100px;
	height: 90%;

	&-item {
		@include display-flex(center, center, column);
		cursor: pointer;
		transition: 0.5s;

		&:hover {
			transform: scale(1.2);
		}

		img {
			width: 50px;
		}
	}

	&-button {
		background-color: rgba(255, 255, 255, 0);
		border: none;
		cursor: pointer;
	}
}
