.home {
	@include display-flex(center, center, column);
	border-radius: 5%;
	width: 100%;
	height: 95%;

	.home_herolist {
		@include display-flex(center, center, row);
		flex-wrap: wrap;
		overflow-y: auto;
		width: 100%;
		height: 100%;

		&::-webkit-scrollbar {
			cursor: pointer;
			border: 1px solid darken($background-color, $amount: 20%);
			border-radius: 10px;
			width: 15px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: darken($background-color, $amount: 20%);
			border-radius: 10px;
		}

		.home_hero {
			@include display-flex(center, center, column);
			background-color: darken($background-color, $amount: 20%);
			border: 1px solid darken($background-color, $amount: 20%);
			border-radius: 5%;
			box-shadow: 5px 5px 15px 5px black;
			width: 350px;
			height: 500px;
			margin: 20px;
			transition: 0.5s;
			text-align: center;

			&:hover {
				transform: scale(1.05);
			}

			.home_hero-img {
				height: 300px;
				width: 300px;
				img {
					border-radius: 50%;
					width: 100%;
				}
			}

			.home_hero-text {
				@include display-flex(space-between, center, column);
				padding: 10px 0;
				height: 100%;
				width: 100%;
			}

			.home_nav {
				@include display-flex(space-between, center, row);
				margin-bottom: 10px;
				width: 70%;
				img {
					cursor: pointer;
					width: 30px;
				}

				.home_nav-animate {
					animation: likeAnimate 0.5s;
				}
			}
		}

		.home_cargar-mas {
			border: none;
			background-color: rgba(255, 255, 255, 0);
			cursor: pointer;
			height: 300px;
			width: 300px;
			transition: 0.5s;

			&:hover {
				transform: scale(1.1);
			}
		}

		.home_cargando {
			@include display-flex(center, center, column);
			width: 300px;
			height: 300px;

			@keyframes ldio-0rgqc6yvldb {
				0% {
					transform: translate(-50%, -50%) rotate(0deg);
				}
				100% {
					transform: translate(-50%, -50%) rotate(360deg);
				}
			}
			.ldio-0rgqc6yvldb div {
				position: absolute;
				width: 76.8px;
				height: 76.8px;
				border: 12.8px solid #290908;
				border-top-color: transparent;
				border-radius: 50%;
			}
			.ldio-0rgqc6yvldb div {
				animation: ldio-0rgqc6yvldb 1s linear infinite;
				top: 64px;
				left: 64px;
			}
			.loadingio-spinner-rolling-mo7grisetcm {
				width: 128px;
				height: 128px;
				display: inline-block;
				overflow: hidden;
				background: rgba(255, 255, 255, 0);
			}
			.ldio-0rgqc6yvldb {
				width: 100%;
				height: 100%;
				position: relative;
				transform: translateZ(0) scale(1);
				backface-visibility: hidden;
				transform-origin: 0 0; /* see note above */
			}
			.ldio-0rgqc6yvldb div {
				box-sizing: content-box;
			}
		}
	}
}

.cargando {
	@include display-flex(center, center, row);
	width: 100%;
	height: 100%;
}
