* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: $color-text;
	font-family: $font-family;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

a {
	text-decoration: none;
	text-align: center;
	color: $color-text;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 300;
}

label {
	font-size: 2rem;
}

#main {
	width: 100vw;
	height: 100vh;
}

.container {
	@include display-flex(center, center, column);
	width: 100vw;
	height: 100vh;
	position: relative;
}
