$color-text: black;
$color-text-2: white;
$background-color: #ffffffb6;
$font-family: 'Oswald', sans-serif;

@keyframes likeAnimate {
	0% {
		transform: scale(1.06);
	}
	20% {
		transform: scale(1.12);
	}
	40% {
		transform: scale(1.18);
	}
	60% {
		transform: scale(1.12);
	}
	80% {
		transform: scale(1.06);
	}
	100% {
		transform: scale(1);
	}
}
