.fondo_container {
	width: 100%;
	filter: blur(3px);
	position: absolute;
	background-size: cover;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	object-position: center;
	z-index: -1;

	img {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		object-position: center center;
	}
}

.container_dashboard {
	@include display-flex(space-between, center, row);
	width: 100vw;
	height: 90vh;
	position: relative;
}

.logo_rick {
	img {
		width: 300px;
		height: 100px;
	}
}

.name {
	position: absolute;
	top: 25px;
	right: 150px;
	h1 {
		color: #fff;
	}
}

.blur {
	filter: blur(3px);
}
